* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}
/* Text in project containers, and under main heading have same color */
:root {
  --description-text: #416241;
}

.body {
  background-color: #101810;
  font-family: "Josefin Sans", "Sans-Serif";
}
/* TOP HEADER SECTION START */

.top-header {
  font-family: "Anton";
  /* background-color: #000103; */
  color: #182518;
  background-color: #5a875a;
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 5rem;
  margin-top: 2rem;
  padding: rem;
  white-space: nowrap;
  font-size: calc(5.5vw + 1em);
  overflow: hidden;
}
.mini-section {
  font-family: "Anton";
  font-size: calc(1vw + 1em);
  font-weight: 300;
  color: #5a875a;
  margin-top: 1rem;
  margin-bottom: 15rem;
  border-bottom: #5a875a 0.2rem solid;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

/* Potential Design for mini-bar interface */

/* .mini-section-item {
  padding: 0.5rem;
  background-color: #619461;
  border-radius: 5px;
} */

/* TOP HEADER SECTION END */

.border-container {
  padding-left: 25vw;
  padding-right: 25vw;
}

/* WELCOME SECTION START*/

.main-heading {
  animation: main-heading-flash 2s infinite;
}

.main-heading {
  font-family: "Anton";
  text-align: center;
  margin-top: 2rem;
  color: #5a875a;
  font-weight: 700;
  font-size: calc(3vw + 1em);
  margin-left: 3rem;
  margin-right: 3rem;

  letter-spacing: 0.5rem;
}

/*  */

@keyframes main-heading-flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.section {
  font-family: "Josefin Sans";
  margin-top: 2rem;
  margin-bottom: 10rem;
  color: var(--description-text);
  font-weight: 500;
  font-size: calc(1vw + 1em);
}

.welcome-section {
  margin-bottom: 25rem;
}

.welcome-section-container {
  border-top: #5a875a 0.2rem solid;
}

/* WELCOME SECTION END */

/* WHO AM I SECTION START */
.who-am-i-container {
  border-top: #5a875a 0.2rem solid;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 10rem;
}

.who-am-i {
  /* border-top: #5a875a 0.2rem solid; */
}

.who-am-i-section {
  width: 50%;
  margin-bottom: 0;
}
.portrait {
  margin-top: 1rem;
  margin-bottom: 10rem;
  width: 23vw;
  height: auto;
}
/* WHO AM I SECTION END */

/* PROJECTS SECTION START */
.project-subheading {
  font-family: "Anton";
  margin-top: 2rem;
  color: #619461;
  font-weight: 300;
  font-size: calc(1.5vw + 1em);
  margin-left: 3rem;
  margin-right: 3rem;
  letter-spacing: 0.5rem;
}

.project-description {
  font-family: "Josefin Sans";
  margin-top: 2rem;
  color: var(--description-text);
  font-weight: 500;
  font-size: calc(1.5vw + 1em);
  margin-left: 3rem;
  margin-right: 3rem;
}

.project-section-container-1 {
  border-top: #5a875a 0.2rem solid;
}

.work-in-progress-description {
  margin-bottom: 10rem;
}
/* PROJECTS SECTION END */

/* HIT ME UP SECTION START */

.hit-me-up-section-container {
  border-top: #5a875a 0.2rem solid;
}

.hit-me-up-section {
  margin-bottom: 5rem;
}

.email {
  font-family: "Josefin Sans";
  margin-top: 2rem;
  color: #5a875a;
  font-weight: 500;
  font-size: calc(3vw + 1em);
  margin-left: 3rem;
  margin-right: 3rem;
  text-align: center;
  justify-items: center;
  margin-bottom: 20rem;
}

.mini-link {
  color: #5a875a;
}
/* HIT ME UP SECTION END */
