@media (max-width: 1321px) {
  .border-container {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media (max-width: 968px) {
  .mini-section {
    gap: 3rem;
  }
  .section {
    font-size: calc(1vw + 1em);
  }
  .who-am-i-container {
    border-top: #5a875a 0.2rem solid;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 10rem;
  }

  .who-am-i-section {
    width: 100%;
    margin-bottom: 0;
  }
  .portrait {
    margin-top: 1rem;
    margin-bottom: 10rem;
    width: 30vw;
    height: auto;
  }
}

@media (max-width: 742px) {
  @keyframes move-left {
    from {
      transform: translateX(150%);
    }
    to {
      transform: translateX(-150%);
    }
  }

  .mini-section {
    flex-direction: column;
    display: none;
  }
  .nav-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1rem;
  }

  .open-nav {
    display: block;
    color: #5a875a;
  }
  .close-nav {
    display: none;
    margin-bottom: 1rem;
  }
  .who-am-i-container {
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    flex-direction: column;
  }
  .portrait {
    justify-content: center;
    height: 50%;
    width: 50%;
  }
  .who-am-i-section {
    width: 100%;
  }
  .portrait {
    margin-top: 1rem;
    margin-bottom: 10rem;
    width: 50vw;
    height: auto;
  }
  .project-description {
    grid-column: 1 / 4;
  }
  .email {
    font-size: calc(2vw + 1em);
  }
}

@media (max-width: 550px) {
  .portrait {
    margin-top: 1rem;
    margin-bottom: 10rem;
    width: 70vw;
    height: auto;
  }
}
