@media (max-width: 1321px) {
  .border-container {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media (max-width: 968px) {
  .mini-section {
    gap: 3rem;
  }
  .section {
    font-size: calc(1vw + 1em);
  }
}

@media (max-width: 742px) {
  .mini-section {
    flex-direction: column;
    display: none;
  }
  .nav-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1rem;
  }

  .open-nav {
    display: block;
    color: #5a875a;
  }
  .close-nav {
    display: none;
    margin-bottom: 1rem;
  }
  .who-am-i-container {
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    flex-direction: column;
  }
  .portrait {
    justify-content: center;
    height: 50%;
    width: 50%;
  }
  .who-am-i-section {
    width: 100%;
  }
}
